body{
  font-family: 'Roboto', sans-serif;
}

.debug{
  border: 1px solid black;
}

.icon-html{
  color: white;
  background-color: #f26551;
  border-radius: 50%;
  padding: 4px;
}

/****************************
            CSS
 ****************************/

 /* HEADER */


header{
  background-color: #f8f9fa;
  height: 70px;
}

header .logo-container{
  width: 80px;
}

header .search-container{
  width: calc(100% - 130px);
}

header .glass{
  width: 30px;
  height: 100%;
  background-color: #e5e5e5;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

header input{
  width: calc(100% - 30px);
  height: 100%;
  background-color: #e5e5e5;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: .8rem;
}

header .menu-container{
  width: 50px;
}

.img-container{
  width: 45px;
  height: 45px;
}

header ul{
  padding-top: 15px;
}

.fa-bell{
  color: #ff8f00;
}

/* SIDEBAR */


.sidebar{
  width: 70px;
  height: calc(100vh - 70px);
  background-color: #051e34;
  background-image: url(../img/sidebar-bg.png);
  color: white;
}

/* MAIN */

/* Head Main */

.me-container{
  width: calc(100% - 70px);
  height: calc(100vh - 70px);
}

.head-main{
  height: 260px;
  background-color: #1b72e8;
}

.head-main .container-fluid{
  height: calc(100% / 3);
}

.badge-dark-blue{
  background-color: #165bba;
  border-radius: 20px;
}

/* 4 Tabs */

.col-big,
.col-little{
  width: 98%;
  border-radius: 5px;
}

.head-next-class{
  height: 50px;
  width: 100%;
  background-color: #f7f7f7;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  border-end-start-radius: 0px;
  border-end-end-radius: 0px;
  border-bottom: none;
}

.container-100{
  border: 1px solid #ebebeb;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.body-next-class{
  width: 98%;
  background-color: white;
}

.body-next-class .name-class{
  width: 50%;
}

.body-next-class .status-class{
  width: 15%;
}

.body-next-class .action-class{
  width: 35%;
}

.action-class i{
  font-size: .8rem;
}

.action-class .action-button{
  padding: 2px 9px;
}

.button-section{
  padding-bottom: 10px;
}

/**************************** 
          RESOLUTION
 ****************************/

 @media screen and (min-width:768px){
  .head-main{
    height: 140px;
  }

  .head-main .container-fluid{
    height: 100%;
    width: calc(100% / 3);
    align-items: center;
    justify-content: center;
  }
 }

@media screen and (min-width:1200px){
  header .logo-container{
    width: 160px;
  }
  
  header .search-container{
    width: calc(100% - 320px);
  }
  
  header .menu-container{
    width: 160px;
  }

  header .img-container{
    width: 100%;
    height: 100%;
  }

  .sidebar{
    width: 150px;
    
  }

  .sidebar ul li span{
    padding-left: 5px;
  }

  .sidebar ul li p{
    padding-left: 10px;
  }

  .me-container{
    width: calc(100% - 150px);
  }

  .head-main{
    height: 125px;
  }

  .head-main .container-fluid{
    align-items: flex-start;
  }

  .head-main .container-fluid:nth-of-type(2){  
    width: 52%;
  }
}